.profile-row {
  padding-bottom: var(--unit-2);
  display: flex;
  width: 100%;
  font-size: var(--font-size-12);
  line-height: var(--font-size-12);
  justify-content: space-between;
}

.row-label {
  color: var(--black-100);
}

.row-input {
  text-align: right;
  color: var(--gray-100);
}
