{{#if (eq profileState.isDraft false)}}
<div class="profile-info">
    <div class="profile-row">{{> LinkButton url="changeProfileData" text="Изменить данные"}}</div>
    <div class="profile-row">{{> LinkButton url="changeProfilePassword" text="Изменить пароль"}}</div>
    <div class="profile-row">{{> LinkButton url="logout" theme="error" text="Выйти"}}</div>
</div>
{{else}}
<div class="btns-block">
    {{> Button buttonName="saveChanges" text="Сохранить" fullWidth="true" }}
</div>
{{/if}}