{{> Sidebar }}
{{> LocalNav }}

<div class="container">
    <div class="wrapper profile-wrapper">
        {{> Avatar avatarUrl=profileState.profile.avatar isDraft=profileState.isDraft name=profileState.profile.name   }}

        <div class="profile-info">
            {{> ProfileRow isDraft=profileState.isDraft name="password" type="password" placeholder="******" label="Старый пароль"  }}
            {{> ProfileRow isDraft=profileState.isDraft name="newPassword" type="password" placeholder="******" label="Новый пароль"  }}
            {{> ProfileRow isDraft=profileState.isDraft name="repeatNewPassword" type="password" placeholder="******" label="Повторите новый пароль"  }}
        </div>

        {{> ButtonBlockProfile }}
    </div>
</div>
