.button-primary {
  padding: var(--unit-3);
  cursor: pointer;
  color: var(--white-100);
  background-color: var(--primary-100);
  border-radius: var(--unit-2);

  &:hover {
    background-color: var(--primary-100-hovered);
  }

  &.full-width {
    width: 100%;
  }
}
