.button-primary {
  padding: var(--unit-3);
  cursor: pointer;
  color: var(--white-100);
  background-color: var(--primary-100);
  border-radius: var(--unit-2);

  &:hover {
    background-color: var(--primary-100-hovered);
  }

  &.full-width {
    width: 100%;
  }

  &.disabled {
    background-color: var(--gray-60);
  }

  &.cancel-btn {
    background-color: var(--gray-100);
    &:hover {
      background-color: #999999c9;
    }
  }
}
