{{> Sidebar }}
{{> LocalNav }}

<div class="container">
    <div class="wrapper profile-wrapper no-shadow">
        {{> Avatar avatarUrl=profileState.profile.avatar isDraft=profileState.isDraft name=profileState.profile.firstName   }}

        <div class="profile-info">
            {{> ProfileRow isDraft=profileState.isDraft id="email" name="email" label="Почта" value=profileState.profile.email }}
            {{> ProfileRow isDraft=profileState.isDraft id="login" name="login" label="Логин" value=profileState.profile.login }}
            {{> ProfileRow isDraft=profileState.isDraft id="firstName" name="first_name" label="Имя" value=profileState.profile.firstName }}
            {{> ProfileRow isDraft=profileState.isDraft id="secondName" name="second_name" label="Фамилия" value=profileState.profile.secondName }}
            {{> ProfileRow isDraft=profileState.isDraft id="displayName" name="display_name" label="Имя в чате" value=profileState.profile.displayName }}
            {{> ProfileRow isDraft=profileState.isDraft id="phone" name="phone" label="Телефон" value=profileState.profile.phone }}
        </div>

        {{> ButtonBlockProfile }}
    </div>
</div>
