<div class="local-nav">
    {{> LinkButton text="Авторизация" url="login" }}
    {{> LinkButton text="Регистрация" url="register" }}
    {{> LinkButton text="Профиль" url="profile" }}
    {{> LinkButton text="Изменить данные" url="changeProfileData" }}
    {{> LinkButton text="Изменить пароль" url="changeProfilePassword" }}
    {{> LinkButton text="404" url="notFound" }}
    {{> LinkButton text="500" url="serverError" }}
</div>
