.local-nav {
  position: absolute;
  z-index: 1;
  top: 20px;
  right: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 150px;
  list-style: none;
  border-radius: var(--unit-3);
  box-shadow: 0 0 6px 0 #00000024;
  align-items: center;
  gap: 15px;
}
