.input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input-label {
  margin-bottom: var(--unit-2);
  font-size: var(--font-size-9);
  font-weight: 500;
  line-height: var(--line-height-9);
  color: var(--gray-100);
}

.input-error-message {
  margin-top: var(--unit-2);
  font-size: var(--font-size-9);
  line-height: var(--line-height-9);
  color: var(--error-validate);
}
