<div class="container">
    {{> LocalNav }}
    <div class="wrapper login-wrapper">
        {{> Title content="Вход"}}
        <form class="form" onclick="return false;">
            <div class="inputs-block">
                {{> Input type="text" label="Логин" id="login" name="login" placeholder="Введите логин"}}
                {{> Input type="text" label="Пароль" id="password" name="password" placeholder="Введите пароль"}}
            </div>
            <div class="btns-block">
                {{> Button text="Авторизоваться" fullWidth="true" }}
                {{> LinkButton text="Нет аккаунта?" url="register"}}
            </div>
        </form>
    </div>
</div>