{{> LocalNav }}

<div class="container">
    <div class="wrapper no-shadow">
        <div class="not-found-text-block">
            <div class="not-found-error">{{error.statusCode}}</div>
            <div class="not-found-notice">{{error.message}}</div>
        </div>
        {{> LinkButton text="Назад к чатам" url="login" }}
    </div>
</div>